<!--
  This is the parent of the recipe-item component
    I need to display all the recipe details in here after a click event in the recipe-item component
      Need to call a function when it hears the event being fired from the receipe-item component
      This function will be defined in the ts file.
-->

<div class="row">
  <div class="col-xs-12">
    <!-- Here we need to take the recipe image path and display it in the src -->
    <img
      [src]="recipe.imagePath"
      alt="{{ recipe.name }}"
      class="img-responsive"
      style="max-width: 350px">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <!-- Here we need to take the recipe name from the recipe-item component and display it in the h1 -->
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button class="btn btn-primary dropdown-toggle" type="button">Manage Recipe
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">To Shopping List</a></li>
        <li><a href="#">Edit Recipe</a></li>
        <li><a href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <!-- Here we need to take the recipe description and display it where it currently says "Description" -->
    {{ recipe.description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <!-- Here we need to take the recipe ingredients and display them where it currently says "Ingredients" -->
    Ingredients
  </div>
</div>
